<p id="notice"><%= notice %></p>
<div class="center hero-unit">

<h3>
  <strong>Context:</strong>
  
</h3>
<h4>
<%= @dogefact.context %>
</h4>

<%= link_to 'Edit', edit_dogefact_path(@dogefact) %> |
<%= link_to 'Back', dogefacts_path %>
